@use "src/common/styles/colors" as color;
@use "src/common/styles/borders" as border;
@use "src/common/styles/mixins" as mixin;

.h2 {
  width: 100%;
  margin: 5% 0 5% 0;
  font-size: 70px;
  background-color: rgb(168, 168, 167);
}

.btn {
  @include mixin.btn-style(100px, 30px, 5px, 0, 25px, bold);
  @include mixin.border-style(1px, color.$text-color, solid);
  border-radius: border.$b-Radius;
  color: color.$text-color;
}

.input {
  width: 75%;
  margin: auto;
  color: color.$text-color;
  @include mixin.border-style(1px, color.$text-color, solid);
}
